#highlight {
    background-color: #00ccd2;
    padding-top: 2em;
    padding-bottom: 2em;
}
#highlight h3 {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

/* 
.carousel #back, .carousel #forward {
    position: absolute;
    cursor: pointer;
    top: 180px
}
    .carousel #forward{
        right: 0;
    } */
