#highlight {
    background-color: #2a8788;
    padding-top: 2em;
    padding-bottom: 2em;
}
#highlight h3 {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.slides .details.d-small h3 {
    font-size: 48px;
}
.slides .details.d-small h3 small {
    font-size: 28px;
}
.slides img {
    object-fit: cover;
    max-height: 376px;
}
/* 
.carousel #back, .carousel #forward {
    position: absolute;
    cursor: pointer;
    top: 180px
}
    .carousel #forward{
        right: 0;
    } */
