.specials .row > div {
    text-align: center;
}
.specials img {
    width: 40%;
    padding: 1em;
    text-align: center;
}
.specials label {
    font-size: 24px;
    text-align: center;
    width: 100%;
}
.content-container .col-sm-9 h1.default {
    margin-bottom: .5em;
}
.content-container h1:first {
    font-size: 48px;
}