/*********************************common css starts *****************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
html { color: #000; width: 100%; height: 100%; font-family: 'Open Sans', sans-serif; font-size: 14px; }
* { outline: none; list-style: none; }
body { position: relative; -webkit-font-smoothing: antialiased; overflow-x: hidden; background: #f9f9f9 url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479734/body-bg.webp) no-repeat center 0; background-size: cover; background-attachment: fixed; }
iframe { overflow-x: hidden!important; }
@media (max-width:979px) {
body { padding-top: 0!important; }
}
* { outline: none!important }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; color: #000; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 500 }
fieldset, img { border: 0; }
em { font-style: italic!important }
img { height: auto; max-width: 100%; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
/*strong { font-weight: 500; }*/
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; font-family: 'Open Sans', sans-serif!important; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; font-family: 'Open Sans', sans-serif; color: #000; font-size: 13px; font-weight: 500 }
input, textarea, select { *font-size:100%;
}
a, textarea, input, select { transition: .3s ease-in-out; -o-transition: .3s ease-in-out; -moz-transition: .3s ease-in-out; -webkit-transition: .3s ease-in-out; }
a { color: #2a8788; text-decoration: underline; }
a:hover { color: #000; text-decoration: none; }
/*********************************common css ends *****************************************/
.container { max-width: 980px }
.center-shadow { background: #fff; box-shadow: 0 0 4px rgba(0,0,0,.4); margin: 40px 0 0; padding: 15px; }
.scrollup { position: fixed; right: 10px; bottom: 10px; z-index: 130; display: none }
.scrollup a { background: url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479736/scroll-top.png) no-repeat 0 0; width: 32px; height: 32px; display: inline-block; opacity: 0.7; filter: alpha(opacity=70); }
.scrollup a:hover { opacity: 0.99; filter: alpha(opacity=99); }
.btn { color: #fff; border-radius: 0; font-size: 14px; border: 0; text-decoration: none; box-shadow: none; border-bottom: 3px solid #086566; font-weight: 500; padding: 5px 20px; text-shadow: none; font-weight: 500; margin: 0; display: inline-block; text-decoration: none; background: #2a8788; /* Old browsers * / /* IE9 SVG, needs conditional override of 'filter' to 'none' * / background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwM2Q5ZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDBjMmM3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-radial-gradient(center, ellipse cover, rgba(3,217,223,1) 0%, rgba(0,194,199,1) 100%); /* FF3.6+ * / background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(3,217,223,1)), color-stop(100%, rgba(0,194,199,1))); /* Chrome,Safari4+ * / background: -webkit-radial-gradient(center, ellipse cover, rgba(3,217,223,1) 0%, rgba(0,194,199,1) 100%); /* Chrome10+,Safari5.1+   background: -o-radial-gradient(center, ellipse cover, rgba(3,217,223,1) 0%, rgba(0,194,199,1) 100%); /* Opera 12+ * / background: -ms-radial-gradient(center, ellipse cover, rgba(3,217,223,1) 0%, rgba(0,194,199,1) 100%); /* IE10+ * / background: radial-gradient(ellipse at center, rgba(3,217,223,1) 0%, rgba(0,194,199,1) 100%); /* W3C * / filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03d9df', endColorstr='#00c2c7', GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.btn:hover, .btn:focus { color: #fff; background: rgb(102,102,102); /* Old browsers * / /* IE9 SVG, needs conditional override of 'filter' to 'none' * / background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2NjY2NjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(102,102,102,1)), color-stop(100%, rgba(0,0,0,1))); /* Chrome,Safari4+ * / background: -webkit-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ * / background: -o-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 100%); /* Opera 12+ * / background: -ms-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 100%); /* IE10+ * / background: radial-gradient(ellipse at center, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 100%); /* W3C * / filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000', GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
/***************************header starts***************************/
.brand { float: left; width: auto; padding: 5px 0 }
.top-links { float: right; width: auto; text-align: right; padding: 10px 0 }
.top-links ul li { color: #000; display: inline; padding: 0; font-size: 13px; }
.top-links ul li:before { color: #000; display: inline-block; padding: 0 3px; content: "|"; }
.top-links ul li:first-child:before { display: none; padding: 0; content: ""; }
.top-links a { color: #000; text-decoration: none }
.top-links a:hover { color: #2a8788; }
.top-links .active a { color: #2a8788; }
.top-links .active a:hover { color: #2a8788; }
.top-links p { color: #000; display: block; padding: 7px 0 0; font-size: 18px; text-align: right }
/***************************nav starts***************************/
.navbar-collapse, .navbar-header { background: #2a8788; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' * /  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyY2RkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzJiYjBiNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzI0OTM5OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGJjYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top, rgba(66,205,211,1) 0%, rgba(43,176,182,1) 50%, rgba(36,147,152,1) 51%, rgba(0,188,193,1) 100%); /* FF3.6+ * / background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(66,205,211,1)), color-stop(50%, rgba(43,176,182,1)), color-stop(51%, rgba(36,147,152,1)), color-stop(100%, rgba(0,188,193,1))); /* Chrome,Safari4+ * / background: -webkit-linear-gradient(top, rgba(66,205,211,1) 0%, rgba(43,176,182,1) 50%, rgba(36,147,152,1) 51%, rgba(0,188,193,1) 100%); /* Chrome10+,Safari5.1+ * / background: -o-linear-gradient(top, rgba(66,205,211,1) 0%, rgba(43,176,182,1) 50%, rgba(36,147,152,1) 51%, rgba(0,188,193,1) 100%); /* Opera 11.10+ * / background: -ms-linear-gradient(top, rgba(66,205,211,1) 0%, rgba(43,176,182,1) 50%, rgba(36,147,152,1) 51%, rgba(0,188,193,1) 100%); /* IE10+ * / background: linear-gradient(to bottom, rgba(66,205,211,1) 0%, rgba(43,176,182,1) 50%, rgba(36,147,152,1) 51%, rgba(0,188,193,1) 100%); /* W3C * / filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42cdd3', endColorstr='#00bcc1', GradientType=0 ); /* IE6-8 */
padding: 0; }
.navbar { display: block; overflow: hidden; position: relative; clear: both }
.navbar-collapse { border: 1px solid #086566 !important; }
.navbar-default { border: 0; margin-bottom: 0px; position: relative; z-index: 88; min-height: 20px; border-radius: 0; background: none !important }
.navbar-default ul li { border: 0; border-right: 1px solid #086566; border-left: 1px solid #086566; font-size: 15px; font-weight: 600; width:100%;text-align:center }
.navbar-default ul li:last-child { border-right: 0; }
.navbar-default ul li:first-child { border-left: 0; }
.navbar-default .navbar-nav { margin: 0;width: 100%;
    justify-content: space-between;
    display: flex; }
.navbar-default .navbar-nav > li > a { color: #fff; width:100%; background-color: transparent; text-decoration: none;display: flex; align-items: center; justify-content: center; height:100%; padding: 5px 10px }
.navbar-default .navbar-nav > li > a:hover { color: #086566; background-color: #fff }
.navbar-default .navbar-nav > li > a:focus { color: #086566; background-color: #fff }
.navbar-default .navbar-nav > li > a:active { color: #086566; background-color: #fff }
/* .navbar-default .navbar-nav > li:last-child > a {  } */
.navbar-default .navbar-nav > li.active > a { color: #086566; background-color: #fff }
.navbar-default .navbar-nav > li.active > a:hover { color: #086566; background-color: #fff }
.navbar-default .navbar-brand { color: #fff; cursor: pointer; display: none }
.navbar-default .navbar-brand:hover { color: #fff; cursor: pointer }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { background-color: #fff; color: #000 }
.navbar-default .navbar-brand { color: #fff; cursor: pointer; display: none }
.navbar-default .navbar-brand:hover { color: #086566; cursor: pointer }
.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
/***************************nav ends***************************/
/***************************header ends***************************/
/***************************home banner starts***************************/
.home-banner { margin: 5px 0; position: relative; overflow: hidden; clear: both; display: block }
.home-banner .shadaw { position: absolute; left: 0; top: 0; height: 100%; width: 100%; display: inline-block; content: ""; background: url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479736/banner-shadow.png) no-repeat 0 0; background-size: 100% 100%; z-index: 10 }
.home-banner .flexslider { position: relative; float: none; display: block; clear: both; height: auto; overflow: hidden; }
.home-banner .slides { float: left; width: 100%; }
.home-banner .slides li { display: none; position: relative; height: auto; overflow: hidden; padding: 0; background: url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479736/ajaxLoader.gif) no-repeat center center; min-height: 100px }
.home-banner .flex-direction-nav { display: none; }
.home-banner .flex-control-paging { position: absolute; bottom: 10px; right: 10px; display: none; }
.home-banner .flex-control-paging li { float: left; margin-left: 5px; }
.home-banner .flex-control-paging li a { display: block; width: 20px; height: 20px; background: #fff; box-shadow: inset 0 -4px 4px #999; text-indent: -999em; cursor: pointer; border-radius: 9px }
.home-banner .flex-control-paging li a.flex-active { background: #cccfd6; }
.home-banner .slides li img { width: 100%; height: auto; max-width: 100% }
.home-banner .slides li .details { position: absolute; right: 5%; bottom: 15%; z-index: 999 }
.home-banner .slides li h3 { color: #000; font-size: 72px; font-weight: 400; text-align: right; }
.home-banner .slides li h3 small { color: #000; font-size: 48px; font-weight: 300; }
.home-banner .slides li .btn { font-size: 36px; border-radius: 5px; font-weight: 300; padding: 20px 0; min-width: 333px; text-transform: uppercase; float: right; margin-top: 20px; border-bottom-color: #086566 }
/***************************home banner ends***************************/
/***************************inner banner starts***************************/
.inner-banner { margin: 5px 0; position: relative; overflow: hidden; clear: both; display: block }
.inner-banner .shadaw { position: absolute; left: 0; top: 0; height: 100%; width: 100%; display: inline-block; content: ""; background: url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479736/inner-banner-shadow.png) no-repeat 0 0; background-size: 100% 100%; z-index: 10 }
.inner-banner img { width: 100%; height: auto; max-width: 100% }
/***************************inner banner ends***************************/
/***************************home carousel starts***************************/
.home-top-section h3 { color: #000; font-size: 30px; font-weight: 300; text-align: center; padding: 5px 0 10px; text-transform: uppercase }
.home-top-section .box img { max-width: 100%; width: 100%; height: auto }
.home-top-section strong { position: absolute; left: 0; padding: 5px 15px; margin: 0; bottom: 0; width: 100%; font-weight: 600; text-transform: uppercase; font-size: 18px; text-align: center; background: #2a8788;color: #fff}
.home-top-section a:hover strong { color: #fff; background-color: #2a8788; background-image: none }
.owl-carousel .owl-buttons { transition: .0s; text-indent: -999999px; }
.owl-carousel .owl-buttons .owl-prev { background: url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479736/bg_direction_nav.png) no-repeat 0 0; width: 32px; height: 32px; float: left; position: absolute; left: 2%; top: 40% }
.owl-carousel .owl-buttons .owl-next { background: url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479736/bg_direction_nav.png) no-repeat -32px 0; width: 32px; height: 32px; float: left; position: absolute; right: 2%; top: 40% }
.home-top-section .owl-carousel .owl-buttons .owl-prev { left: -5px; }
.home-top-section .owl-carousel .owl-buttons .owl-next { right: -5px; }
.owl-carousel .owl-wrapper:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
/* display none until init */
.owl-carousel { display: none; position: relative; width: 100%; touch-action: pan-y; -ms-touch-action: pan-y; }
.owl-carousel .owl-wrapper { display: none; position: relative; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-wrapper-outer { overflow: hidden; position: relative; width: 100%; }
.owl-carousel .owl-wrapper-outer.autoHeight { -webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }
.owl-carousel .owl-item { float: left; }
.owl-controls .owl-page, .owl-controls .owl-buttons div { cursor: pointer; }
.owl-controls { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item { backface-visibility: hidden; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; transform: translate3d(0, 0, 0);-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); }
.owl-item.loading { min-height: 150px; background: url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479736/ajaxLoader.gif) no-repeat center center }
/***************************home carousel ends***************************/
/***************************common content starts***************************/
.content-container .h1 { font-size: 24px; line-height: normal; font-weight: 700; color: #2a8788; background:url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479736/heading-line.gif) repeat-x 0 16px;
margin-top: 15px; }
.content-container .h1.default {
background: none;
}
.content-container .h1 span { background: #fff; padding-right: 10px; }
/*.content-container h2 { font-size: 18px; line-height: normal; font-weight: 700; color: #2a8788; background: url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479736/heading-line.gif) repeat-x 0 16px; margin-top: 15px }*/
.content-container h2 { font-size: 18px; line-height: normal; font-weight: 700; margin-top: 15px }
.content-container h2 span { background: #fff; padding-right: 10px; }
.content-container h3 { font-size: 16px; line-height: normal; font-weight: 700; color: #000 }
.content-container h3 strong { font-weight: 600; }
.content-container h3 span { color: #000099 }
.content-container h4 { font-size: 16px; line-height: normal; font-weight: 400; color: #000; padding: 10px 0 0 }
.content-container h5 { font-size: 14px; line-height: normal; font-weight: 400; color: #000; padding: 10px 0 0 }
.content-container p { padding: 5px 0 10px; line-height: 22px; text-align: justify }
.content-container ul { padding: 5px 0; margin: 0; list-style: none }
label { font-weight: 500; padding-top: 10px }
label em { font-weight: 500; color: #F00 }
input, textarea { box-shadow: inset 0 3px 3px #f4f4f4!important; border-radius: 0!important; border-color: #e3e3e3!important; margin: 0 }
input:focus, textarea:focus { box-shadow: inset 0 3px 3px #ddd!important; border-color: #2a8788!important; background: #fff !important }
.quick-contact form { padding-top: 10px }
.quick-contact form textarea { height: 140px; resize: none }
.quick-contact form .btn { display: inline-block; width: auto }
/***************************common content ends***************************/
/**************************RIC CSS*************************************/
.skew-block { position: relative; float: right; text-align: left; clear: both; padding: 20px 30px 35px 60px; transform: skewX(20deg); -ms-transform: skewX(20deg); -webkit-transform: skewX(20deg); background: #fff; margin-left: -40px; }
.skew-block .skew-in { transform: skewX(-20deg); -ms-transform: skewX(-20deg); -webkit-transform: skewX(-20deg); }
.skew-block:before { content: ""; position: absolute; top: 0; bottom: 0; right: -9px; width: 10px; background: #999999 }
.skew-block:after { content: ""; position: absolute; left: 0; right: 0; bottom: 0; right: -9px; background: #999999; height: 9px; }
.home-banner .description { display: inline-block; position: absolute; bottom: 10%; left: 0; max-width: 420px; }
.home-banner .slides li .skew-block h3 { font-size: 30px; text-transform: uppercase; color: #000000; text-align: left; font-weight: bold }
.home-banner .slides li .skew-block h3 strong { color: #e10000; font-weight: bold }
.ric-alignleft { float: left; margin: 0 15px 10px 0 }
/****On Load Form ****/
.onload-offers { background-color:#000 }
.onload-offers a{ display:none}
#active-popup { position:fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 9999; background: rgba(0,0,0,.8); }
#popup-container { display: none; width: 100%; position: fixed; left: 0; top: 0; bottom: 0; right: 0; height: 100%; z-index: 10009; padding: 20px; overflow-y: auto; overflow-x: hidden;}
#popup-window { position: relative; max-width: 920px; margin:50px auto;z-index: 505; }
#popup-container a.close-btn { position: absolute; right: -15px; top: -15px; color: #000000; font-weight: bold; background-color: #ffffff; border: 2px solid #ffffff; font-size: 18px; line-height: 35px; height: 40px; width: 40px; z-index: 700; text-align: center; cursor: pointer; border-radius: 30px; text-decoration: none; -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3); box-shadow: 0 0 10px rgba(0,0,0,0.3); }
#popup-container a.close-btn:hover { border-color: #086566; background-color:#086566; color:#fff}
/**************************RIC CSS End*************************************/
.contact-us-info { display: block; padding: 10px 0; overflow: hidden; background-color: #2a8788; padding: 1em 2em }
.contact-us-info .h1 { color: #fff }
.contact-us-info p { color: #fff; display: inline; padding: 0; font-size: 14px; text-align: left }
.contact-us-info p img { float: left; margin: 6px 10px 0 0; filter: brightness(0) invert(1);}
.contact-us-info p span { display: block; overflow: hidden; position: relative }
.contact-us-info p a { color: #fff; text-decoration: none }
.contact-us-info p a:hover { color: #fff; }
/***************************partners starts***************************/
.partners-section h3 { font-size: 18px; line-height: normal; font-weight: 700; color: #2a8788; background: url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479736/heading-line.gif) repeat-x 0 16px; margin-bottom: 15px }
.partners-section h3 span { background: #fff; padding-right: 10px; }
.partners-section .box { position: relative; text-align: center; margin: 2px 5px; box-shadow: 0 0 2px #ddd; border: 1px solid #ddd; }
.partners-section .box img { max-width: 100%; width: 100%; height: auto }
.partners-section strong { position: absolute; left: 0; padding: 5px 15px; margin: 0; bottom: 5%; width: 100%; background: url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479736/white-trans-bg.png); font-weight: 600; text-transform: uppercase; font-size: 18px; color: #000; text-align: left; }
.partners-section a:hover strong { color: #fff; background-color: #2a8788; background-image: none }
.partners-section .owl-carousel .owl-buttons .owl-prev { background: url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479736/bg_direction_nav2.png) no-repeat 0 0; width: 27px; height: 27px; left: -5px; top: 34%; }
.partners-section .owl-carousel .owl-buttons .owl-next { background: url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479736/bg_direction_nav2.png) no-repeat -29px 0; width: 27px; height: 27px; right: -5px; top: 34%; }
.partners-section .owl-item.loading { min-height: 90px; background: url(https://res.cloudinary.com/wamp-infotech/image/upload/v1601479736/ajaxLoader.gif) no-repeat center center }
/***************************partners ends***************************/
/***************************footer starts***************************/
footer { padding: 0; margin: 0; }
footer p { color: #000; padding: 10px 0; font-size: 13px; }
footer a { color: #000; text-decoration: none }
footer a:hover { color: #2a8788; text-decoration: underline }
/***************************footer ends***************************/
/***************************Responsive starts***************************/
/* Large desktop */
@media (min-width:1200px) {
}
@media (min-width:980px) {
}
@media (min-width: 768px) and (max-width: 1199px) {
.navbar-default .navbar-nav > li > a { padding: 12px 15px; }
.navbar-default .navbar-nav > li:last-child > a { padding: 12px 15px; }
.partners-section .owl-carousel .owl-buttons .owl-prev { top: 35%; }
.partners-section .owl-carousel .owl-buttons .owl-next { top: 35%; }
}
@media (max-width:979px) {
.home-banner .slides li .skew-block h3 { font-size: 22px; }
.home-banner .description { max-width: 334px; }
.skew-block { padding: 10px 30px 20px 60px; }
}
/**************************** Portrait tablet to landscape and desktop ****************************/
@media (min-width:768px) and (max-width:979px) {
.navbar-default .navbar-nav > li > a { padding: 10px 6px; font-size: 13px }
.navbar-default .navbar-nav > li:last-child > a { padding: 10px 11px; }
.home-banner { margin-top: 10px }
.home-banner .slides li .details { bottom: 20% }
.home-banner .slides li h3 { font-size: 40px; font-weight: 400; }
.home-banner .slides li h3 small { font-size: 30px; font-weight: 300; }
.home-banner .slides li .btn { font-size: 18px; font-weight: 400; padding: 15px 40px; min-width: inherit; text-transform: uppercase; float: right; margin-top: 20px; }
.home-banner .slides li p { float: right; width: auto }
.contact-us-info .col-md-4 { display: inline-block; width: 32.33%; vertical-align: top }
.quick-contact input[type="text"], .quick-contact input[type="email"] { display: inline-block; width: 49.33%; vertical-align: top }
.quick-contact textarea { display: inline-block; width: 99.33%; vertical-align: top }
.partners-section .owl-carousel .owl-buttons .owl-prev { top: 37%; }
.partners-section .owl-carousel .owl-buttons .owl-next { top: 37%; }
footer { text-align: center; padding-bottom: 8px }
footer .col-md-6 { display: block; width: auto }
footer p { display: block; padding: 5px 0 0; line-height: 16px }
footer .pull-right { float: none !important; display: block }
}
@media (min-width:800px) and (max-width:900px) {
.contact-us-info .col-md-4 { display: inline-block; width: 32.33%; vertical-align: top }
.quick-contact input[type="text"], .quick-contact input[type="email"] { display: inline-block; width: 49.33%; vertical-align: top }
.partners-section .owl-carousel .owl-buttons .owl-prev { top: 34%; }
.partners-section .owl-carousel .owl-buttons .owl-next { top: 34%; }
footer { text-align: center; padding-bottom: 8px }
footer .col-md-6 { display: block; width: auto }
footer p { display: block; padding: 5px 0 0; line-height: 16px }
footer .pull-right { float: none !important; display: block }
}
@media (max-width:991px) {
}
/**************************** Landscape phone to portrait tablet ****************************/
@media (max-width:767px) {
.center-shadow { margin: 15px 0 0; }
.brand { padding: 0 0 5px; display: block; float: none; width: auto; text-align: center }
.top-links { text-align: center; padding: 5px 0 !important; float: none; border: 3px solid #fff; box-shadow: 0 0 2px #ccc; margin: 5px 0 10px; background: #f2f1f1; }
.top-links ul { border-bottom: 1px solid #ddd; padding-bottom: 5px }
.top-links p { text-align: center; font-size: 14px; }
.top-links p img { width: 20px }
.navbar-toggle { float: left; width: 100%; display: block; padding: 0; margin: 0 }
.navbar-toggle .pull-right { margin: 12px 15px }
.navbar-header strong { font-weight: 700 }
.navbar-default .navbar-brand { display: block }
.navbar-default { margin: 0 }
.navbar-collapse { padding: 0 !important }
.navbar-default ul li { border-left: 0; border-right: 0; border-bottom: 1px solid #01b1b6; }
.navbar-default .navbar-nav {
    display:block
}
.navbar-default .navbar-nav > li > a { padding: 7px 15px; background: #2a8788 }
.navbar-default .navbar-nav > li:last-child > a { padding: 7px 15px !important }
.navbar-default .navbar-nav > li > a:before { content: ''; height: 0; width: 0; display: block; border: 4px transparent solid; border-right-width: 0; border-left-color: #fff; position: absolute; top: 13px; right: 25px; }
.navbar-default .navbar-nav > li.active > a:before, .navbar-default .navbar-nav > li > a:hover:before { border-left-color: #000 }
.home-banner { margin-top: 10px }
.home-banner .slides li .details { right: 0; left: 0; bottom: 0; width: 100%; padding: 10px; background-color: rgba(0,0,0,0.4); }
.home-banner .slides li h3 { color: #fff; font-size: 22px; font-weight: 400; text-align: left; display: inline-block; padding-top: 4px }
.home-banner .slides li h3 small { color: #00f8ff; font-size: 22px; font-weight: 400; }
.home-banner .slides li br { display: none }
.home-banner .slides li .btn { font-size: 14px; border-radius: 5px; font-weight: 500; padding: 5px 15px; min-width: inherit; text-transform: uppercase; float: right; margin-top: 0; }
.home-banner .slides li p { float: right; width: auto }
.home-top-section h3 { font-size: 22px; }
.home-top-section strong { font-size: 18px; bottom: 0; padding: 5px 10px;}
.quick-contact h2 { margin-top: 0 }
.partners-section { padding: 10px 0 0 }
.partners-section .owl-carousel .owl-buttons .owl-prev { top: 31%; }
.partners-section .owl-carousel .owl-buttons .owl-next { top: 31%; }
.partners-section .owl-item.loading { min-height: 70px; }
footer { text-align: center; padding-bottom: 5px }
footer p { display: block; padding: 5px 0 0; line-height: 16px }
footer .pull-right { float: none !important; display: block }
}
 @media (min-width:600px) and (max-width:767px) {
.contact-us-info .col-md-4 { display: inline-block; width: 32.33%; vertical-align: top }
.quick-contact input[type="text"], .quick-contact input[type="email"] { display: inline-block; width: 49.33%; vertical-align: top }
.quick-contact textarea { display: inline-block; width: 99.33%; vertical-align: top }
.partners-section .owl-item.loading { min-height: 80px; }
}
    
/**************************** Landscape phones and down ****************************/
@media (max-width:480px) {
.top-links p img, .home-banner .slides li .details { display: none }
.home-top-section h3 { font-size: 20px; }
.partners-section .owl-carousel .owl-buttons .owl-prev { top: 25%; }
.partners-section .owl-carousel .owl-buttons .owl-next { top: 25%; }
.partners-section .owl-item.loading { min-height: 50px; }
.home-banner .slides li .skew-block h3 { font-size: 15px; }
.home-banner .description { max-width: 215px; }
.skew-block { padding: 5px 20px 15px 60px; }
}
@media (max-width:360px) {
.top-links p img, .home-banner .slides li .details, .home-banner .description { display: none }
.home-top-section h3 { font-size: 20px; }
.partners-section .owl-carousel .owl-buttons .owl-prev { top: 25%; }
.partners-section .owl-carousel .owl-buttons .owl-next { top: 25%; }
.partners-section .owl-item.loading { min-height: 50px; }
}
@media (max-width:320px) {
}
/***************************Responsive ends***************************/
/*************************Overrides ****************/
@media (min-width:992px) {
    .top-nav-holder {
        display: flex; 
        justify-content: space-between;
    }
}
iframe {
    border: 0;
}
.mr-1 {
    margin-right: .5em;
}
.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 280px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}
.carousel .carousel-item {
    visibility: hidden;
    width: 240px;
    height: 240px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 1em;
    background-color: #eee;
    border: 1px solid #ddd;
}
.brand a img {
    height: 80px;
}
.brand .carousel .carousel-item {
    width: 100px;
    height: 36px;
    padding: .5em;
    background-color: #2a8788;
    border-color: #086566;
}
.brand .carousel .carousel-item strong {
    color: #fff;
}
.brand .carousel {
    width: 300px;
    height: 50px;
    margin:auto;
}
.brand .cap {
    font-size: 15px;
    font-weight: bolder;
    padding: 0 1em;
    width: 100%;
    text-align: center;
}
.l-sep {
    border-left: 1px solid #ddd;
  }
.input-group, .w-100 {
    width: 100%;
}
.input-group-addon {
    padding: 8px 12px;
    vertical-align: top;
    border-radius: 0;
    text-align: left;
    width: 100px;
}
.form-group {
    margin-bottom: 1em;
}
.contact-us-info img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.contact-us-info div[class*="col"] {
    margin-bottom: 1em;
}
.contact-us-info .call-icon {    
    filter: brightness(0) invert(1)
}
.contact form label span {
    color: red
}
.clients-gall .panel {
    padding: 1em;
    background-color: #eee;
    width: 100%;
    /* height: 200px; */
    border: 1px solid #ddd;
}
.clients-gall img.panel {
    width: 200px;
    height: 80px;
    object-fit: contain;
}
.contact-us-info a[href^="tel"]{
    font-size: 18px;
}
.wa-chat {
    background-color: #25D366;
    color: #fff;
    position: fixed;
    bottom: 1em; 
    right: 4em;
    z-index:100;
    padding: 1em;
    border-radius: 10px;
    
}
.wa-chat a {
    color: #fff;
    line-height: 24px;
    text-decoration: none;
}
.wa-chat a svg {
    position: relative;
    top: 5px;
    margin: -10px 5px 0px 0px;
}
.cta {
    position: fixed;
    z-index:100;
    bottom: 1em;
    left: 1em;
    background-color: #25D366;
    padding: .5em;
    border-radius: 50%;
    box-shadow: 0px 0px 8px #888;
}
.cta img {
    filter: brightness(0) invert(1);
}
#query-form button img {
    height: 24px; 
    margin: 0px 8px
}