body {
    overflow: hidden;
}
.btn {
    text-transform: initial;
    letter-spacing: 0.25px;
    font-weight: 500;
    border-radius: 4px;
}
.progress {
    background-color: #bbdeff;
}
.progress-holder {
    border-radius: 8px 8px 0px 0px;
    margin: 0px;
    overflow: hidden;
    margin-bottom: -16px;
    height: 16px;
}
.progress-holder .progress {
    margin: 0;
    z-index: 4;
}
.prevent-overlay {
    background-color: #ffffff40;
    position: absolute;
    z-index: 2;
    cursor: wait;
}
/* label focus color */
.input-field input:focus+label,
.input-field textarea:focus+label,
.input-field .prefix.active {
    color: #2a8788 !important;
}
/* label underline focus color */
.input-field input:focus,
.input-field textarea:focus {
    border-bottom: 1px solid #2a8788 !important;
    box-shadow: 0 1px 0 0 #2a8788 !important;
}
.dropdown-content li>a,
.dropdown-content li>span {
    color: #2a8788;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #2a8788;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #2a878880;
}
.card-action {
    border-color: rgba(255, 255, 255, 0.4) !important;
}
.card-action a {
    color: rgba(255, 255, 255, 0.87) !important;
}

.sidenav.bg-primary {
    transform: none;
    transition: all .3s ease;
    padding-bottom: 0px;
}
.sidenav.bg-primary li>a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 0.87);
}
.sidenav.bg-primary li>a>i {
    color: rgba(255, 255, 255, 0.54)
}
.sidenav.bg-primary .divider {
    background-color: rgba(255, 255, 255, 0.4);
}
.hide-on-small {
    height: 100vh;
}
.white .grey.lighten-3 {
    overflow-x: auto;
}
.btn:hover {
    background-color: #dddddd;
}
.input-field button {
    /* transform: translateY(-42px); */
    margin-top: -45px;
}
.row.enhanced {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}
@media (max-width: 600px) {
    .sidenav.bg-primary {
        /* background-color: red; */
        top: 56px;
        position: fixed;
        width: 300px;
        transform: translateX(-100%);
    }
    .hide-on-small {
        width: 0 !important;
        height: 0 !important;
    }
    .hide-on-small+col.s12 {
        width: 100% !important;
    }
}

/***************** Scrollbar *************************/
@media (orientation: landscape) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #2a8788;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #1a7778
    }
    ::-webkit-scrollbar-thumb:active,
    ::-webkit-scrollbar-thumb:focus {
        background-color: #0a6768
    }
    ::-webkit-scrollbar-track {
        background-color: transparent
    }
}